AWS_ACCESS_KEY: AKIAJR6MUDF2YEXAMPLE
AWS_SECURITY_KEY: BPn5qMT/MK3GRbBXOU4WZzm7Q8oQmUbVVEXAMPLE
AWS_REGION: ap-southeast-1
CLUSTER_ID: j-27DO8SEEXAMPLE
CLSUTER_NAME: EMR-EXAMPLE
CLUSTER_ID_ERROR: j-27DO8SEXAMPLE-error
CLSUTER_NAME_ERROR: EMR-EXAMPLE-ERROR
INSTANCE_GROUP_NAME: EMR_CORE
